# Python
__pycache__/
app/__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
.env
.env.*
venv/
env/
.venv/

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
.terraform.lock.hcl
*.tfplan

# IDE
.DS_Store
.idea/
.vscode/

# Lambda
lambda/package/
.aws-sam/
samconfig.toml

# Trivy
*.sarif
trivy-results.sarif
