# Python
__pycache__/
app/__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
*.dist-info/
dist/
build/
.env
.env.*
venv/
env/
.venv/

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
.terraform.lock.hcl
*.tfplan

# IDE
.DS_Store
.idea/
.vscode/

# Lambda / SAM
lambda/package/
.aws-sam/
samconfig.toml
packaged.yaml
lambda/.aws-sam/

# Trivy
*.sarif
trivy-results.sarif

# Local dev scratch files
scratch/
notes.md
*.local
